
    <div class="card">
        <img src="/images/jezevaKucica.png" alt="Ježeva kucica">
        <div class="card-content">
            <h3> Ježeva kucica</h3>
            <p class="author">Autor: Branko Copic</p>
            <p class="genre">Žanr: Bajka, Basna </p>
            <p class="price">Cijena: 500 KM</p>
            <a href="#" class="btn btn-details">Detalji</a>
        </div>
    </div>