<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/card.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
  </head>
  <body>
    <%- include('partials/header') %>
      
    <div class="randomBooks">
      <div class="section-title">Knjige</div>
      
      <% if (books && books.length > 0) { %>
        <div class="containerBooks">
          <% books.forEach((book) => { %>
            <%- include('partials/card', {book: book}) %>
          <% }) %>
        </div>
      <% } else { %>
        <p>Nema dostupnih knjiga.</p>
      <% } %>
      
    </div>
     <% include partials/footer %>
  </body>

  <script>
    const urlParams = new URLSearchParams(window.location.search);
    
    if (urlParams.get('success') === 'true') {
      
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end', 
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });

        
        Toast.fire({
            icon: 'success',
            title: 'Knjiga uspješno dodana!'
        });

        
        window.history.replaceState({}, document.title, window.location.pathname);
    }
</script>
</html>